@model OnlineCoursePortal.Models.EnrolledCourseView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}
@if (ViewBag.message == "Sucessfully Enrolled")
{
    <script language='javascript' type='text/javascript'>alert('Sucessfully Enrolled to the Course!!');</script>
}
else if (ViewBag.message == "You have already Enrolled")
{
    <script language='javascript' type='text/javascript'>alert('Already Enrolled to the Course!!');</script>
}

@section side{
    <ul>
        <li class="courseName">
            <a href="#">
                @Html.DisplayFor(model => model.course.CourseName)<br />
            </a>
        </li>
        @{ int k = 0, secNum = (int)Model.QuizSecNums[0];}
        @for (int i = 0; i < Model.course.TotalSections; i++)
        {
            <li class="secName"><a href="/Enrollments/Details?Cid=@Model.course.CourseID&sectionNum=@(i+1)&LectureNum=1"> @Model.sectionNames[i]</a></li>
            for (int j = 1; j <= (int)Model.LecturesInSection[i]; j++)
            {
                <li class="LecName"><a href="/Enrollments/Details?Cid=@Model.course.CourseID&sectionNum=@(i+1)&LectureNum=@j">>> Lecture @j</a></li>
            }
            if (i == secNum - 1)
            {
                <li class="QuizName"><a href="/Enrollments/QuizDetails?Cid=@Model.course.CourseID&sectionNum=@(i+1)">>> Quiz</a></li>
                k++;
                if (k < Model.QuizSecNums.Count)
                {
                    secNum = (int)Model.QuizSecNums[k];
                }
            }
        }

    </ul>
}
<br/>
<div class="col-md-12" controls>

    @if (Model.LectureDesc == "")
    {
        <h2>Video Lecture</h2>

    }
    else
    {
        <h2>@Model.LectureDesc</h2>
    }

    <video style="width:100%" controls>
        <source src="@Url.Content(Model.LectureVideoPath)" type='video/mp4' />
    </video>
</div>
@if (ViewBag.AddDoc=="true") { 
<div class="container">
    @Html.ActionLink("Download Additional Documents", "downloadAddDoc", new { Filepath=Model.AddDocPath})
</div>
}
<div  class="form-group">
    <div class="col-md-12">
        @using (Html.BeginForm("Add", "Notes", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("EnrollmentID", Model.enrollment.EnrollmentID)
            @Html.Hidden("CourseID",Model.course.CourseID)
            @Html.Hidden("secNum",Model.sectionNum)
            @Html.Hidden("lecNum",Model.lecNum)
            @Html.Hidden("lecpath",Model.course.CoursePath+"/section"+Model.sectionNum+"/Lecture"+Model.lecNum)
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <textarea class="searchbox-form-control" name="notes" placeholder="Add New Notes"></textarea>
            <input type="submit" value="Add Notes" class="btn" />
        }
    </div>
</div>
<div class="container ">
@foreach(var item in Model.notes)
{
    <div>
        <hr />
        @Html.DisplayFor(modelItem => item.AddedNotes)<br/>
        Added Date: @Html.DisplayFor(modelItem => item.NotesAddedDate)
    </div>

}

</div>


