@model IEnumerable<OnlineCoursePortal.Models.Course>

@{
    ViewBag.Title = "Enrolled Courses";
}

<h2>My Enrolled Courses</h2>

<p>
    @Html.ActionLink("To Enroll in new Course search here", "Index","Home")
</p>

@foreach (var item in Model)
{
    <hr />
    <div style="padding:20px">
        <a href="/Enrollments/Details?Cid=@item.CourseID&sectionNum=1&LectureNum=1"><h3>@Html.DisplayFor(modelItem => item.CourseName)</h3></a>
        Summary: @Html.DisplayFor(modelItem => item.CourseSummary)<br />
        Category: @Html.DisplayFor(modelItem => item.Category) | Total Sections: @Html.DisplayFor(modelItem => item.TotalSections) |
        Total Points: @Html.DisplayFor(modelItem => item.Totalpoints) | Uploaded Date: @Html.DisplayFor(modelItem => item.UploadedDate) <br />
    </div>
}