@model OnlineCoursePortal.Models.AddedCourseView

@{
    ViewBag.Title = "Details";
}

@{
    ViewBag.Title = "Course Details";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}


@section side{
    <ul>
        <li class="courseName">
            <a href="#">
                @Html.DisplayFor(model => model.course.CourseName)<br />
            </a>
        </li>
        @for (int i = 0; i < Model.course.TotalSections; i++)
        {
            <li class="secName"><a href="/Courses/Details?Cid=@Model.course.CourseID&sectionNum=@(i+1)&LectureNum=1"> @Model.sectionNames[i]</a></li>
            for (int j = 1; j <= (int)Model.LecturesInSection[i]; j++)
            {
                <li class="LecName"><a href="/Courses/Details?Cid=@Model.course.CourseID&sectionNum=@(i+1)&LectureNum=@j">>> Lecture @j</a></li>
            }
        }

    </ul>
}
<br />
<div class="col-md-12" controls>

    @if (Model.LectureDesc == "")
    {
        <h2>Video Lecture</h2>

    }
    else
    {
        <h2>@Model.LectureDesc</h2>
    }

    <video style="width:100%" controls>
        <source src="@Url.Content(Model.LectureVideoPath)" type='video/mp4' />
    </video>
</div>
@if (ViewBag.AddDoc=="true")
{
    <div class="container">
        @Html.ActionLink("Download Additional Documents", "downloadAddDoc", new { Filepath = Model.AddDocPath })
    </div>
}