@model IEnumerable<OnlineCoursePortal.Models.Course>

@{
    ViewBag.Title = "My Courses";
}

<h2>My Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>






@foreach (var item in Model) {
    <hr />
    <div style="padding:20px">
        <h3>@Html.DisplayFor(modelItem => item.CourseName)</h3>
        Summary: @Html.DisplayFor(modelItem => item.CourseSummary)<br />
        Category: @Html.DisplayFor(modelItem => item.Category) | Total Sections: @Html.DisplayFor(modelItem => item.TotalSections) |
        Total Points: @Html.DisplayFor(modelItem => item.Totalpoints) | Uploaded Date: @Html.DisplayFor(modelItem => item.UploadedDate) <br/>
    </div>
          
       //     @Html.ActionLink("Edit", "Edit", new { id=item.CourseID }) |
        //    @Html.ActionLink("Details", "Details", new { id=item.CourseID }) |
         //   @Html.ActionLink("Delete", "Delete", new { id=item.CourseID })
}

