@model OnlineCoursePortal.Models.StudentReport

@using OnlineCoursePortal.Models
@{
    ViewBag.Title = "Student Reports";
}

<h2>Student Reports</h2>

Total Number of Courses enrolled by Student @Model.selectedstudent.FirstName : @Model.NumOfCourses
<br />
List of Courses and enrollment details: <br />
<table class="table">
    <thead>
        <tr>
            <td> Course ID </td>
            <td> Course Name </td>
            <td> Instructor Name </td>
            <td> Enrollment Date(MM/DD/YYYY)</td>
            <!--<td> Progress</td>-->
        </tr>
    </thead>
    <tbody>
        @foreach (Enrollment enrollment in Model.enrollments)
        {
            <tr>
                <td> @enrollment.CourseID </td>
                <td> @enrollment.Course.CourseName </td>
                <td> @enrollment.Course.Instructor.FirstName @enrollment.Course.Instructor.LastName </td>
                <td> @enrollment.EnrollmentDate.ToShortDateString() </td>
                <!-- <td> @enrollment.Progress </td>-->
            </tr>
        }
    </tbody>
</table>
